{% extends 'base.html' %}

{% block content %}
  <h1 style="text-align: center; margin-top: 30px;">Student Database</h1>

  <div style="display: flex; justify-content: center; margin-top: 50px;">
    <a href="{% url 'add_student' %}">
      <button style="background-color: #4CAF50; color: white; font-size: 16px; padding: 10px 30px; border: none; border-radius: 5px; margin-right: 20px;">
        Add Another Student
      </button>
    </a>
  
    <a href="{% url 'student_list' %}">
      <button style="background-color: #4CAF50; color: white; font-size: 16px; padding: 10px 30px; border: none; border-radius: 5px;">
        Student Database
      </button>
      <button style="background-color: #4CAF50; color: white; font-size: 16px; padding: 10px 30px; border: none; border-radius: 5px;">
        Student Database1
      </button>
    </a>
  </div>

{% endblock %}
