{% extends 'base.html' %}
{% load custom_filters %}
{% load custom_tags %}
{% pagination students %}

{% block content %}
  <div class="table-container">
    <div style="margin: 20px;">
      <form method="GET" action="{% url 'studentsdataform:student_list' %}" style="display: flex; margin-bottom: 10px;">
        <input type="text" name="search_box" placeholder="Search..." style="flex: 1; padding: 8px; font-size: 16px;">
        <button type="submit" style="background-color: #4CAF50; color: white; padding: 8px 16px; font-size: 16px; border: none;">Search</button>
      </form>

      {% if students %}
        <form method="POST" action="{% url 'studentsdataform:delete_students' %}" style="margin-bottom: 20px;">
          {% csrf_token %}
          <table class="students-table">
            <thead>
              <tr>
                <th>Select</th>
                <th>Student Name</th>
                <th>Father Name</th>
                <th>Mother Name</th>
                <th>Student Class</th>
                <th>Date of Birth</th>
                <th>
                  <a href="{% url 'studentsdataform:student_list_by_age' %}" style="text-decoration: none; color: white;">
                    Age
                    <span>&#x1F50D;</span>
                  </a>
                </th>
                <th>School Name</th>
                <th>Student Aadhar Number</th>
                <th>Father Aadhar Number</th>
                <th>Mother Aadhar Number</th>
                <th>Mobile Number</th>
                <th>Address</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              {% for student in students %}
                <tr>
                  <td><input type="checkbox" name="student_ids" value="{{ student.id }}"></td>
                  <td>{{ student.student_name }}</td>
                  <td>{{ student.father_name }}</td>
                  <td>{{ student.mother_name }}</td>
                  <td>{{ student.student_class }}</td>
                  <td>{{ student.dob }}</td>
                  <td>{{ student.dob|calculate_age }}</td>
                  <td>{{ student.school_name }}</td>
                  <td>{{ student.student_aadhar }}</td>
                  <td>{{ student.father_aadhar }}</td>
                  <td>{{ student.mother_aadhar }}</td>
                  <td>{{ student.mobile_number }}</td>
                  <td>{{ student.address }}</td>
                  <td>
                    <a href="{% url 'studentsdataform:modify_student' student.id %}" style="text-decoration: none; color: #04AA6D;">
                      Edit
                      <span>&#x270E;</span>
                    </a>
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>

          <button type="submit" class="delete-button">Delete Selected</button>
          <button class="add-student-button">
            <a href="{% url 'studentsdataform:add_student' %}" style="text-decoration: none; color: white;">Add Another Student</a>
          </button>
        </form>

        <div class="pagination">
          {% if students.has_previous %}
            <a href="?{% query_transform page=students.previous_page_number %}" class="pagination-link">Previous</a>
          {% endif %}

          {% for page in students.paginator.page_range %}
            {% if students.number == page %}
              <a href="?{% query_transform page=page %}" class="pagination-link active">{{ page }}</a>
            {% else %}
              <a href="?{% query_transform page=page %}" class="pagination-link">{{ page }}</a>
            {% endif %}
          {% endfor %}

          {% if students.has_next %}
            <a href="?{% query_transform page=students.next_page_number %}" class="pagination-link">Next</a>
          {% endif %}
        </div>
      {% else %}
        <p>No students found.</p>
      {% endif %}
    </div>
  </div>

  <style>
    /* Responsive Styles */
    .table-container {
      margin-top: 80px;
      overflow-x: auto;
    }

    .table-container table {
      width: 100%;
      border-collapse: collapse;
    }

    .table-container th,
    .table-container td {
      padding: 12px;
      text-align: left;
    }

    .table-container th {
      background-color: #04AA6D;
      color: white;
    }

    .table-container td {
      background-color: #f2f2f2;
    }

    .table-container td input[type="checkbox"] {
      padding: 8px;
    }

    .table-container td a {
      text-decoration: none;
      color: #04AA6D;
    }

    .table-container td a:hover {
      text-decoration: underline;
    }

    .table-container .delete-button {
      background-color: #f44336;
      color: white;
      padding: 8px 16px;
      font-size: 16px;
      border: none;
      margin-top: 10px;
    }

    .table-container .add-student-button {
      background-color: #4CAF50;
      color: white;
      font-size: 12px;
      padding: 8px 16px;
    }

    .pagination {
      display: flex;
      justify-content: center;
      margin-top: 20px;
    }

    .pagination-link {
      padding: 8px 16px;
      font-size: 16px;
      border: none;
      margin-right: 5px;
      background-color: #f2f2f2;
      color: black;
    }

    .pagination-link.active {
      background-color: #04AA6D;
      color: white;
    }
  </style>
{% endblock %}
