{% extends 'base.html' %}
{% load custom_filters %}
{% load custom_tags %}
{% pagination students %}
{% block content %}
  <header style="background-color: #04AA6D; color: white; text-align: center; padding: 20px;">
    <h1>Student Database</h1>
  </header>

  <div style="margin: 20px;">
    <form method="GET" action="{% url 'student_list' %}" style="display: flex; margin-bottom: 10px;">
      <input type="text" name="search_box" placeholder="Search..." style="flex: 1; padding: 8px; font-size: 16px;">
      <button type="submit" style="background-color: #4CAF50; color: white; padding: 8px 16px; font-size: 16px; border: none;">Search</button>
    </form>

    {% if students %}
      <form method="POST" action="{% url 'delete_students' %}" style="margin-bottom: 20px;">
        {% csrf_token %}
        <table style="width: 100%; border-collapse: collapse;">
          <thead>
            <tr style="background-color: #04AA6D; color: white; text-align: left;">
              <th style="padding: 12px;">Select</th>
              <th style="padding: 12px;">Student Name</th>
              <th style="padding: 12px;">Father Name</th>
              <th style="padding: 12px;">Mother Name</th>
              <th style="padding: 12px;">Student Class</th>
              <th style="padding: 12px;">Date of Birth</th>
              <th style="padding: 12px;">
                <a href="{% url 'student_list_by_age' %}" style="text-decoration: none; color: white;">
                  Age
                  <span>&#x1F50D;</span>
                </a>
              </th>
              <th style="padding: 12px;">School Name</th>
              <th style="padding: 12px;">Student Aadhar Number</th>
              <th style="padding: 12px;">Father Aadhar Number</th>
              <th style="padding: 12px;">Mother Aadhar Number</th>
              <th style="padding: 12px;">Mobile Number</th>
              <th style="padding: 12px;">Address</th>
              <th style="padding: 12px;"></th>
            </tr>
          </thead>
          <tbody>
            {% for student in students %}
              <tr style="background-color: #f2f2f2; text-align: left;">
                <td style="padding: 8px;"><input type="checkbox" name="student_ids" value="{{ student.id }}"></td>
                <td style="padding: 8px;">{{ student.student_name }}</td>
                <td style="padding: 8px;">{{ student.father_name }}</td>
                <td style="padding: 8px;">{{ student.mother_name }}</td>
                <td style="padding: 8px;">{{ student.student_class }}</td>
                <td style="padding: 8px;">{{ student.dob}}</td>
                <td style="padding: 8px;">{{ student.dob|calculate_age }}</td>
                <td style="padding: 8px;">{{ student.school_name }}</td>
                <td style="padding: 8px;">{{ student.student_aadhar   }}</td>
                <td style="padding: 8px;">{{ student.father_aadhar }}</td>
                <td style="padding: 8px;">{{ student.mother_aadhar }}</td>
                <td style="padding: 8px;">{{ student.mobile_number }}</td>
                <td style="padding: 8px;">{{ student.address }}</td>
                <td style="padding: 8px;">
                  <a href="{% url 'modify_student'  student.id %}" style="text-decoration: none; color: #04AA6D;">
                    Edit
                    <span>&#x270E;</span>
                  </a>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>

        <button type="submit" style="background-color: #f44336; color: white; padding: 8px 16px; font-size: 16px; border: none; margin-top: 10px;">Delete Selected</button>
        <button style="background-color: #4CAF50; color: white; font-size: 12px; padding: 8px 16px;">
          <a href="{% url 'add_student' %}" style="text-decoration: none; color: white;">Add Another Student</a>
        </button>
        
      </form>

      <div style="display: flex; justify-content: center;">
        {% if students.has_previous %}
          <a href="?{% query_transform page=students.previous_page_number %}" style="background-color: #4CAF50; color: white; padding: 8px 16px; font-size: 16px; border: none; margin-right: 5px;">Previous</a>
        {% endif %}

        {% for page in students.paginator.page_range %}
          {% if students.number == page %}
            <a href="?{% query_transform page=page %}" style="background-color: #04AA6D; color: white; padding: 8px 16px; font-size: 16px; border: none; margin-right: 5px;">{{ page }}</a>
          {% else %}
            <a href="?{% query_transform page=page %}" style="background-color: #f2f2f2; color: black; padding: 8px 16px; font-size: 16px; border: none; margin-right: 5px;">{{ page }}</a>
          {% endif %}
        {% endfor %}

        {% if students.has_next %}
          <a href="?{% query_transform page=students.next_page_number %}" style="background-color: #4CAF50; color: white; padding: 8px 16px; font-size: 16px; border: none; margin-left: 5px;">Next</a>
        {% endif %}
      </div>
    {% else %}
      <p>No students found.</p>
    {% endif %}
  </div>
{% endblock %}
