{% extends 'base.html' %}
{% load parents_custom_filters %}
{% load parents_custom_tags %}
{% pagination parents %}

{% block content %}
  <div class="table-container">
    <h1>Parents List</h1>
    <div style="margin: 20px;">
      <form method="GET" action="{% url 'parentsdataform:parent_list' %}" style="display: flex; margin-bottom: 10px;">
        <input type="text" name="search_box" placeholder="Search..." style="flex: 1; padding: 8px; font-size: 16px;">
        <button type="submit" style="background-color: #4CAF50; color: white; padding: 8px 16px; font-size: 16px; border: none;">Search</button>
      </form>

      {% if parents %}
        <form method="POST" action="{% url 'parentsdataform:delete_parents' %}" style="margin-bottom: 20px;">
          {% csrf_token %}
          <table class="parents-table">
            <thead>
              <tr>
                <th>Select</th>
                <th> Image</th>
                <th>First Name</th>
                <th>Middle Name</th>
                <th>Last Name</th>
                <th>Occupation</th>
                <th>Date of Birth</th>
                <th>
                  <a href="{% url 'parentsdataform:parent_list_by_age' %}" style="text-decoration: none; color: white;">
                    Age
                    <span>&#x1F50D;</span>
                  </a>
                </th>
                <th>Aadhar Number</th>
                <th>PAN</th>
                <th>Has Disiabilty</th>
                <th>Pension eligible</th>
                <th>Pension Amount</th>
                <th>Mobile Number</th>
                <th>Address</th>
                <th>Remarks</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              {% for parent in parents %}
                <tr>
                  <td><input type="checkbox" name="parent_ids" value="{{ parent.id }}"></td>
                  {% if parent.image %}
                    <td>
                        <img src="{{ parent.image.url }}" alt="Parent Image" style="width: 2in; height: 2.5in;">
                    </td>
                  {% else %}
                    <td>No Image Available</td>
                  {% endif %}
                  <td>
                    <a href="{% url 'parentsdataform:parent_profile' parent.id %}">
                      {{ parent.first_name  }}
                    </a>
                  </td>
                  <td>{{ parent.middle_name  }}</td>
                  <td>{{ parent.last_name  }}</td>
                  <td>{{ parent.occupation  }}</td>
                  <td>{{ parent.dob }}</td>
                  <td>{{ parent.dob|calculate_age }}</td>
                  <td>{{ parent.aadhar_number  }}</td>
                  <td>{{ parent.pan_number  }}</td>
                  <td>{{ parent.has_disability  }}</td>
                  <td>{{ parent.pension_eligible   }}</td>
                  <td>{{ parent.pension_amount    }}</td>
                  <td>{{ parent.mobile_number }}</td>
                  <td>{{ parent.address }}</td>
                  <td>{{ parent.remarks }}</td>
                  <td>
                    <a href="{% url 'parentsdataform:modify_parent' parent.id %}" style="text-decoration: none; color: #04AA6D;">
                      Edit
                      <span>&#x270E;</span>
                    </a>
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>

          <button type="submit" class="delete-button">Delete Selected</button>
          
          <button class="add-student-button">
            <a href="{% url 'parentsdataform:add_parent' %}" style="text-decoration: none; color: white;">Add Another Parent</a>
          </button>
        </form>

        <div class="pagination">
          {% if parents.has_previous %}
            <a href="?{% query_transform page=parents.previous_page_number %}" class="pagination-link">Previous</a>
          {% endif %}

          {% for page in parents.paginator.page_range %}
            {% if parents.number == page %}
              <a href="?{% query_transform page=page %}" class="pagination-link active">{{ page }}</a>
            {% else %}
              <a href="?{% query_transform page=page %}" class="pagination-link">{{ page }}</a>
            {% endif %}
          {% endfor %}

          {% if parents.has_next %}
            <a href="?{% query_transform page=students.next_page_number %}" class="pagination-link">Next</a>
          {% endif %}
        </div>
      {% else %}
        <p>No Parents found.</p>
      {% endif %}
    </div>
  </div>

  <style>
    /* Responsive Styles */
    .table-container {
      margin-top: 80px;
      overflow-x: auto;
    }

    .table-container table {
      width: 100%;
      border-collapse: collapse;
    }

    .table-container th,
    .table-container td {
      padding: 12px;
      text-align: left;
    }

    .table-container th {
      background-color: #04AA6D;
      color: white;
    }

    .table-container td {
      background-color: #f2f2f2;
    }

    .table-container td input[type="checkbox"] {
      padding: 8px;
    }

    .table-container td a {
      text-decoration: none;
      color: #04AA6D;
    }

    .table-container td a:hover {
      text-decoration: underline;
    }

    .table-container .delete-button {
      background-color: #f44336;
      color: white;
      padding: 8px 16px;
      font-size: 16px;
      border: none;
      margin-top: 10px;
    }

    .table-container .add-student-button {
      background-color: #4CAF50;
      color: white;
      font-size: 12px;
      padding: 8px 16px;
    }

    .pagination {
      display: flex;
      justify-content: center;
      margin-top: 20px;
    }

    .pagination-link {
      padding: 8px 16px;
      font-size: 16px;
      border: none;
      margin-right: 5px;
      background-color: #f2f2f2;
      color: black;
    }

    .pagination-link.active {
      background-color: #04AA6D;
      color: white;
    }
  </style>
{% endblock %}
